#page_home {
  height: 100vh;

  background-color: #e4e4e4;

  position: relative;

  header.page-header {
    background: #1b1b1f;
    color: #e1e1e6;
    padding: 12px;

    display: flex;
    justify-content: center;

    h1{
      font-weight: 700;
    }

    a {
      position: absolute;
      right: 12px;

      text-decoration: none;

    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;


    h1 {
      font-weight: 400;
      margin-bottom: 40px;
    }

    .content-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 24px;


      .table-titles {
        display: flex;
        align-items: center;
        width: 100%;
        background: #1b1b1f;
        color: #e1e1e6;
        margin-bottom: 1.5px;

        span {
          width: 240px;
          padding: 16px 16px 16px 16px;
        }

        a {
          color: #e1e1e6;
        }
      }

      .users-content {

        .user-info {
          color: #fff;
          background: #4e6cf0;

          height: 40px;
          border-radius: 2px;
          padding:  6px 6px 6px 16px;
          // margin-bottom: 1px;

          display: flex;
          align-items: center;

          font-weight: 400;
          font-size: 14px;

          .info {
            width: 240px;
          }

          button {
            color: #e1e1e6;
            margin: 0;
            height: 40px;

            &:hover {
              background: #3054f5;
            }
          }
        }

      }

      .pagination-buttons {
        display: flex;

        button {
          background: #1b1b1f;
          margin: 40px 8px;

          transition: 0.5s;

          &:hover {
            background: #212122;
          }
        }
      }

    }

    .Modal-Content {
      height: 50vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.623);
  
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      header.modal-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          color: #e1e1e6;
        }

        button.close-modal {
          background: none;
        }
      }

      form {
        display: flex;
        flex-direction: column;

        input {
          padding: 8px;
          margin-bottom: 5px;
          border-radius: 8px;
          border: 0;
        }

      }
    }

  }

  button {
    margin-top: 24px;
    border-radius: 8px;
    border: none;
    padding: 12px;
    cursor: pointer;

    background: #4e6cf0;
    color: #fff;
    transition: 0.2s;

  }

  button:hover {
    background-color: #284fff;
  }

}





